<!-- dashboard.component.html -->

<app-navbar></app-navbar>

<div class="flex flex-col min-h-screen lg:pt-20 pt-10">
  <!-- Main Content Area -->
  <div class="flex-grow bg-gray-100 dark:bg-black transition-all duration-500 ease-in-out">
    <div class="container mx-auto px-4 py-8 mt-7 md:mt-5">
      <h1 class="text-3xl font-bold mb-4 text-gray-700 dark:text-rose-600">Dashboard</h1>
      <h2 class="text-3xl font-semibold mb-4 mt-7 text-gray-700 dark:text-rose-600">Welcome {{firstName}}!</h2>
      <!-- Your dashboard content goes here -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Example card -->
        <a routerLink="/chequing" (click)="logAnchorClick()">
          <div class="bg-white dark:bg-zinc-950 rounded-lg shadow-md dark:shadow-rose-950 p-4 transition-all duration-500 ease-in-out">
            <h2 class="text-xl dark:text-gray-300 font-semibold mb-2 text-gray-700">Chequing</h2>
            <br>
            <div class="flex justify-between items-center mt-10">
              <p class="dark:text-gray-300 text-gray-700 font-bold text-xl">Balance:</p>
              <span class="dark:text-gray-300 text-gray-700 font-bold text-xl">{{ (chequingbalance$ | async | currency) }}</span>
            </div>
          </div>          
        </a>
        <!-- Example card -->
        <a routerLink="/savings" (click)="logAnchorClick()">
          <div class="bg-white dark:bg-zinc-950 rounded-lg shadow-md dark:shadow-rose-950 p-4 transition-all duration-500 ease-in-out">
            <h2 class="text-xl dark:text-gray-300 font-semibold mb-2 text-gray-700">Savings</h2>
            <br>
            <div class="flex justify-between items-center mt-10">
              <p class="dark:text-gray-300 text-gray-700 font-bold text-xl">Balance:</p>
              <span class="dark:text-gray-300 text-gray-700 font-bold text-xl">{{ (savingsbalance$ | async | currency) }}</span>
            </div>
          </div>          
        </a>
        <!-- Example card -->
        <a (click)="alertClick()">
          <div class="bg-white dark:bg-zinc-950 rounded-lg shadow-md dark:shadow-rose-950 p-4
          transition-all duration-500 ease-in-out">
            <h2 class="text-xl dark:text-gray-300 font-semibold mb-2 text-gray-700">E-Transfer</h2>
            <div class="mt-7">
              <br>
              <br>
            <p class="dark:text-gray-300 font-semibold">Send funds with ease via email.</p>
          </div>
        </div>
        </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
