<!-- dashboard.component.html -->

<app-navbar></app-navbar>

<div class="flex flex-col h-screen pt-20">
  <!-- Main Content Area -->
  <div class="flex-grow bg-gray-100 dark:bg-black transition-all duration-500 ease-in-out">
    <div class="container mx-auto px-4 py-8 mt-7">
      <h1 class="text-3xl font-bold mb-4 text-gray-700 dark:text-rose-600">Dashboard</h1>
      <!-- Your dashboard content goes here -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Example card -->
        <a routerLink="/chequing" (click)="logAnchorClick()">
          <div class="bg-white dark:bg-zinc-950 rounded-lg shadow-md dark:shadow-rose-950 p-4
          transition-all duration-500 ease-in-out">
            <h2 class="text-xl dark:text-gray-300 font-semibold mb-2 text-gray-700">Chequing</h2>
            <p class="dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet urna nec lorem commodo cursus.</p>
          </div>
        </a>
        <!-- Example card -->
        <div class="bg-white dark:bg-zinc-950  rounded-lg shadow-md dark:shadow-rose-950 p-4
        transition-all duration-500 ease-in-out">
          <h2 class="text-xl dark:text-gray-300 font-semibold mb-2 text-gray-700">Savings</h2>
          <p class="dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet urna nec lorem commodo cursus.</p>
        </div>
        <!-- Example card -->
        <div class="bg-white dark:bg-zinc-950 rounded-lg shadow-md dark:shadow-rose-950 p-4
        transition-all duration-500 ease-in-out">
          <h2 class="text-xl dark:text-gray-300 font-semibold mb-2 text-gray-700">E-Transfer</h2>
          <p class="dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet urna nec lorem commodo cursus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
