/* navbar.component.scss */

/* Styles for the dropdown menu */
.dropdown-menu {
    position: absolute;
    top: calc(100% + 10px); /* Adjust this value as needed to create space between the navigation bar and the dropdown menu */
    left: 0;
    z-index: 10; /* Ensure dropdown menu appears above other content */
    background-color: #ffffff; /* Adjust background color as needed */
    border: 1px solid #e5e7eb; /* Add border for better separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    padding: 8px 0; /* Add padding for content */
    width: 100%; /* Make the dropdown menu full width */
  }
  
  /* Additional styles for dropdown menu items */
  .dropdown-menu a {
    display: block;
    padding: 8px 16px; /* Adjust padding as needed */
    color: #333333; /* Adjust text color */
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  .dropdown-menu a:hover {
    background-color: #f3f4f6; /* Change background color on hover */
  }
  

  /* Styles for the dropdown menu */
.dropdown-menu-dark {
    position: absolute;
    top: calc(100% + 10px); /* Adjust this value as needed to create space between the navigation bar and the dropdown menu */
    left: 0;
    z-index: 10; /* Ensure dropdown menu appears above other content */
    background-color: #000000; /* Adjust background color as needed */
    border: 1px solid #e5e7eb; /* Add border for better separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    padding: 8px 0; /* Add padding for content */
    width: 100%; /* Make the dropdown menu full width */
  }
  
  /* Additional styles for dropdown menu items */
  .dropdown-menu-dark a {
    display: block;
    padding: 8px 16px; /* Adjust padding as needed */
    color: #333333; /* Adjust text color */
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  .dropdown-menu-dark a:hover {
    background-color: #f3f4f6; /* Change background color on hover */
  }