<!-- navbar.component.html -->

<nav class="bg-white dark:bg-zinc-950 shadow-sm shadow-rose-100 dark:shadow-rose-950 px-4 py-7 fixed w-full top-0 z-20 transition-all duration-500 ease-in-out">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a routerLink="/" class="text-rose-600 dark:text-rose-600 dark:hover:text-rose-800 font-bold lg:text-2xl md:text-xl">Angular Banking</a>
    </div>

    <!-- Different menu layout for large screens -->
    <div class="hidden lg:flex">
      <a routerLink="/" class="text-rose-600 hover:text-rose-900 font-semibold dark:text-rose-600 dark:hover:text-rose-800 lg:px-4 sm:px-4">Home</a>
      <a [routerLink]="isLoggedIn ? ['/dashboard'] : ['#']" class="text-rose-600 hover:text-rose-900 font-semibold dark:text-rose-600 dark:hover:text-rose-800 lg:px-4 sm:px-4">Dashboard</a>
      <a href="#" class="text-rose-600 hover:text-rose-900 font-semibold dark:text-rose-600 dark:hover:text-rose-800 lg:px-4 sm:px-4" (click)="toggleDarkMode($event)">Dark/Light</a>
      <a href="#" class="text-rose-600 hover:text-rose-900 font-semibold dark:text-rose-600 dark:hover:text-rose-800 lg:px-4 sm:px-4" (click)="signOut($event)">Sign Out</a>
    </div>

    <!-- Hamburger Menu Icon for smaller screens -->
    <div class="lg:hidden">
      <button class="text-rose-600 dark:text-rose-600 focus:outline-none text-xl" (click)="toggleMenu()">
        &#9776;
      </button>
    </div>

    <!-- Dropdown Menu for smaller screens -->
    <div *ngIf="isMenuOpen" class="lg:hidden absolute top-full left-0 w-full bg-white dark:bg-zinc-950 shadow-md transition-all duration-500 ease-in-out text-center">
      <a routerLink="/" class="block py-2 px-4 text-rose-600 hover:text-rose-900 font-semibold dark:text-rose-600 dark:hover:text-rose-800">Home</a>
      <a [routerLink]="isLoggedIn ? ['/dashboard'] : ['#']" class="block py-2 px-4 text-rose-600 hover:text-rose-900 font-semibold dark:text-rose-600 dark:hover:text-rose-800">Dashboard</a>
      <a href="#" class="block py-2 px-4 text-rose-600 hover:text-rose-900 font-semibold dark:text-rose-600 dark:hover:text-rose-800" (click)="toggleDarkMode($event)">Dark/Light</a>
      <a href="#" class="block py-2 px-4 text-rose-600 hover:text-rose-900 font-semibold dark:text-rose-600 dark:hover:text-rose-800" (click)="signOut($event)">Sign Out</a>
    </div>
  </div>
</nav>



