/* app.component.scss */

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.btn-sign-in {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(190 18 60);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(136 19 55);
  }
}
