/* login.component.scss */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 20px;
}

.form-group {
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn-login {
  padding: 5px 70px;
  font-size: 18px;
  background-color: rgb(190 18 60);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(136 19 55);
  }
}
